name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Hello from Self-Hosted Runner!"

      - name: Copy project to /var/www/html
        run: |
          echo "Copying files to /var/www/html..."
          sudo rm -rf /var/www/html/*
          sudo cp -r ./* /var/www/html/
          echo "Deploy complete!"
